<span>Under construction</span>

<!--<div class="pricing-table">-->
<!--    <div class="pricing-option">-->
<!--        <i class="material-icons">important_devices</i>-->
<!--        <h1>Individual</h1>-->
<!--        <h4>Data store 7 days</h4>-->
<!--        <hr />-->
<!--        <ul>-->
<!--            <li>Live tracking</li>-->
<!--            <li>Historical data</li>-->
<!--            <li>Unlimited devices</li>-->
<!--            <li>Free forever</li>-->
<!--        </ul>-->
<!--        <hr />-->
<!--        <div class="price">-->
<!--            <div class="front">-->
<!--                <span class="price">199 <b>$</b></span>-->
<!--            </div>-->
<!--            <div class="back">-->
<!--                <a href="#" class="button">Purchase now</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="pricing-option">-->
<!--        <i class="material-icons">perm_identity</i>-->
<!--        <h1>Small Business</h1>-->
<!--        <h4>Data store for 30 days</h4>-->
<!--        <hr />-->
<!--        <ul>-->
<!--            <li>Live tracking</li>-->
<!--            <li>Historical data</li>-->
<!--            <li>Unlimited devices</li>-->
<!--            <li>Free forever</li>-->
<!--        </ul>-->
<!--        <hr />-->
<!--        <div class="price">-->
<!--            <div class="front">-->
<!--                <span class="price">399 <b>$</b></span>-->
<!--            </div>-->
<!--            <div class="back">-->
<!--                <a href="#" class="button">Purchase now</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="pricing-option">-->
<!--        <i class="material-icons">art_track</i>-->
<!--        <h1>Business</h1>-->
<!--        <h4>Data stores for 180 days</h4>-->
<!--        <hr />-->
<!--        <ul>-->
<!--            <li>Live tracking</li>-->
<!--            <li>Historical data</li>-->
<!--            <li>Unlimited devices</li>-->
<!--            <li>Free forever</li>-->
<!--        </ul>-->
<!--        <hr />-->
<!--        <div class="price">-->
<!--            <div class="front">-->
<!--                <span class="price">999 <b>$</b></span>-->
<!--            </div>-->
<!--            <div class="back">-->
<!--                <a href="#" class="button">Purchase now</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="pricing-option">-->
<!--        <i class="material-icons">art_track</i>-->
<!--        <h1>Custom</h1>-->
<!--        <h4>custom</h4>-->
<!--        <hr />-->
<!--        <ul>-->
<!--            <li>Live tracking</li>-->
<!--            <li>Historical data</li>-->
<!--            <li>Unlimited devices</li>-->
<!--            <li>Free forever</li>-->
<!--        </ul>-->
<!--        <hr />-->
<!--        <div class="price">-->
<!--            <div class="front">-->
<!--                <span class="price">999 <b>$</b></span>-->
<!--            </div>-->
<!--            <div class="back">-->
<!--                <a href="#" class="button">Purchase now</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
