<div class="x-container">
  <div class="x-header">
      <span class="fill-remain-space"></span>
    <button mat-button (click)="addAllUknDevices()">
      <mat-icon>add</mat-icon>
      <span>Add Selected</span></button>
    <button mat-button (click)="deleteAllUknDevices()">
      <mat-icon>delete</mat-icon>
      <span>Delete Selected</span>
    </button>
  </div>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(element) : null"
                              [checked]="selection.isSelected(element)"
                              [aria-label]="checkboxLabel(element)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="uniqueId">
            <th mat-header-cell *matHeaderCellDef>Unique ID</th>
            <td mat-cell *matCellDef="let element">{{element.uniqueId}}</td>
        </ng-container>

        <ng-container matColumnDef="remoteIpAddress">
            <th mat-header-cell *matHeaderCellDef>Remote Address</th>
            <td mat-cell *matCellDef="let element">{{element.remoteIpAddress}}</td>
        </ng-container>

        <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef>Port</th>
            <td mat-cell *matCellDef="let element">{{element.port}}</td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let element">{{element.createdOn | date: 'short'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef i18n> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="addNewDevice(element)">
                    <mat-icon>add</mat-icon>
                    <span>Add</span>
                </button>

                <button mat-icon-button (click)="addUknDevice(element)">
                    <mat-icon color="primary">add</mat-icon>
                </button>

                <button mat-icon-button (click)="deleteUnknownDevice(element)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultsLength"
                   [pageSize]="25"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   showFirstLastButtons></mat-paginator>
</div>
