<mat-toolbar color="primary">
<!--    <span class="fill-remain-space"></span>-->
<!--    <mat-form-field appearance="outline">-->
<!--        <mat-label i18n="@@language">Language</mat-label>-->
<!--        <mat-select>-->
<!--            <mat-option>English</mat-option>-->
<!--            <mat-option>English</mat-option>-->
<!--            <mat-option>English</mat-option>-->
<!--            <mat-option>English</mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
</mat-toolbar>
