ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
  padding: 16px;
  &>a, a:visited {
    text-decoration: none;
    color: ghostwhite;
  }
}

.footer {
  background-color: gray;
  min-height: 136px;
}
