<table>
    <tr>
        <td class="popup-title" i18n>DeviceID</td>
        <td>{{deviceId}}</td>
    </tr>
    <tr>
        <td class="popup-title" i18n>Status</td>
        <td>{{status}}</td>
    </tr>
    <tr>
        <td class="popup-title" i18n>SpeedKPH</td>
        <td>{{speedKph}} km/h</td>
    </tr>
    <tr>
        <td class="popup-title" i18n>Time</td>
        <td>{{timestamp}}</td>
    </tr>
    <tr>
        <td class="popup-title" i18n>Lat/Lng</td>
        <td>{{latlng}}</td>
    </tr>
    <tr>
        <td class="popup-title" i18n>Address</td>
        <td>{{address}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <a [routerLink]="['main', 'tracking', 'history', devId]"> history >></a>
        </td>
    </tr>
</table>