<div class="x-panel-container">
    <div class="x-panel-header">
        <span>Sending command to device: {{device}}</span>
        <span class="fill-remain-space"></span>
        <button mat-icon-button class="btn-close small" (click)="cancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Command to send">
        </mat-form-field>
        <button mat-flat-button>Send</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </form>
</div>