.x-panel-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  .x-panel-header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;

    .btn-close {
      position: relative;
      margin-top: -16px;
      margin-right: -14px;
    }
  }
}