@mixin account-list($theme) {

    .element-detail {
        overflow: hidden;
        display: flex;
    }
    .element-row td {
        border-bottom-width: 0;
    }

    tr.detail-row {
        height: 0;
    }
}
