<div class="x-container">
    <div class="x-header">
        <mat-form-field>
            <input matInput i18n-placeholder placeholder="Search" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <span class="fill-remain-space"></span>
        <button mat-icon-button (click)="openDialogColumnOptions()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button routerLink="add" *showIfRole="'super,sysadmin,admin,moderator'">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <table mat-table
           [dataSource]="dataSource"
           matSort multiTemplateDataRows>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef i18n="@@id" mat-header-cell mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="accountId">
            <th *matHeaderCellDef i18n="@@accountId" mat-header-cell mat-sort-header> Account ID </th>
            <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@firstname"> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@lastname"> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@status"> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@phonenumber"> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="photoUrl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@photourl"> Photo Url </th>
            <td mat-cell *matCellDef="let element"> {{element.photoUrl}} </td>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@emailaddress"> Email Address </th>
            <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="addressLine1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@addressline1"> Address Line1 </th>
            <td mat-cell *matCellDef="let element"> {{element.addressLine1}} </td>
        </ng-container>

        <ng-container matColumnDef="addressLine2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@addressline2"> Address Line2 </th>
            <td mat-cell *matCellDef="let element"> {{element.addressLine2}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@notes"> Notes </th>
            <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
        </ng-container>

        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@roles"> Roles </th>
            <td mat-cell *matCellDef="let element"> {{element.privileges | flatten: 'name'}} </td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@createdby"> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@createdon"> Created On </th>
            <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@updatedby"> Updated By </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@updatedon"> Updated On </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedOn | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef i18n="@@actions"> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openDialogEditing(element)">
                    <mat-icon color="accent">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialogConfirmDelete(element)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!--Expanded Content Column-->
        <ng-container matColumnDef="expanded-detail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div fxLayout="column" class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div fxLayout="row" fxLayoutGap="16px" class="full-width">
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Account ID"
                                       [value]="element.accountId" disabled>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Full Name"
                                       [value]="element.firstName + ' ' + element.lastName" disabled>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Role"
                                       [value]="element.privilege"
                                       disabled>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Status"
                                       [value]="element.status"
                                       disabled>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="tel" matInput
                                       i18n-placeholder placeholder="Phone Number"
                                       [value]="element.phoneNumber"
                                       disabled>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Email Adress"
                                       [value]="element.emailAddress"
                                       disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="16px" class="full-width">
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Adress Line 1"
                                       [value]="element.addressLine1"
                                       disabled>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field class="full-width">
                                <input type="text" matInput
                                       i18n-placeholder placeholder="Adress Line 2"
                                       [value]="element.addressLine2"
                                       disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex-center">
                        <div>
                            <mat-slide-toggle [checked]="checkStatus(element)"
                                              (change)="toggleStatus(element)">
                                {{checkStatus(element) ? 'Disable' : 'Enable'}}
                            </mat-slide-toggle>
                            <a mat-button [routerLink]="[element.id]">
                                <mat-icon color="accent">edit</mat-icon>
                                <span>Edit</span>
                            </a>
                            <button mat-button (click)="openDialogConfirmDelete(element)">
                                <mat-icon color="warn">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="isExpanded(element)"
            (click)="toggleExpandCollapse(element)"></tr>

        <tr mat-row *matRowDef="let row; columns: ['expanded-detail']" class="detail-row"></tr>

    </table>

    <ng-container *ngIf="ngNoData | async" class="no-records">
        <p>There are no sub-account under the account</p>
    </ng-container>

    <mat-paginator #paginator
                   [length]="resultsLength"
                   showFirstLastButtons
                   [pageIndex]="0"
                   [pageSize]="25"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
