<div class="main">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
                    <button (click)="openSideNavOnMobile()" mat-icon-button fxShow="true" fxHide.gt-sm>
                        <mat-icon>menu</mat-icon>
                    </button>
            <span>
                <button mat-icon-button fxHide.lt-lg>
                            <mat-icon>home</mat-icon>
                        </button>
            </span>
            <span class="fill-remain-space"></span>
            <div fxShow="true">
                <a mat-button routerLink="tracking" (click)="openSideNavForTracking()">
                    <mat-icon>geozone</mat-icon>
                    <span i18n="@@tracking" fxHide.lt-md>Tracking</span>
                </a>
                <a mat-button [routerLink]="['report']" (click)="openSideNavForReport()">
                    <mat-icon>report</mat-icon>
                    <span i18n="@@reports" fxHide.lt-md>Reports</span>
                </a>

                <button mat-button [matMenuTriggerFor]="menuAdministration">
                    <mat-icon >setting</mat-icon>
                    <span i18n="@@administration" fxHide.lt-md>Administration</span>
                </button>
                <mat-menu #menuAdministration="matMenu" overlapTrigger="false">
                    <button mat-menu-item routerLink="admin/account">
                        <mat-icon matListIcon>account</mat-icon>
                        <a matLine i18n="@@account">Account</a>
                    </button>
                    <button mat-menu-item routerLink="admin/device">
                        <mat-icon matListIcon>vehicle</mat-icon>
                        <a matLine i18n="@@manageDevices">Manage Devices</a>
                    </button>

                    <button mat-menu-item routerLink="admin/driver">
                        <mat-icon matListIcon>account</mat-icon>
                        <a matLine i18n="@@manageDriver">Manage Driver</a>
                    </button>
                    <button mat-menu-item routerLink="admin/geozone">
                        <mat-icon matListIcon>geozone</mat-icon>
                        <a matLine i18n="@@geozone">Geozone</a>
                    </button>
                    <button mat-menu-item routerLink="admin/alert">
                        <mat-icon matListIcon>bell</mat-icon>
                        <a matLine i18n="@@alertProfile">Alert Profile</a>
                    </button>

                    <!--SystemAdmin-->
                    <button mat-menu-item *showIfRole="'super'" routerLink="admin/unknown-device">
                        <mat-icon matListIcon>unknown</mat-icon>
                        <a matLine i18n="@@unknownDevices">Unknown Devices</a>
                    </button>

                </mat-menu>

                <!-- The following menu items will be hidden on both SM and XS screen sizes -->

                <button mat-button [matMenuTriggerFor]="menuProfile">
                    <span>{{accountName}}</span>
                    <mat-icon>profile</mat-icon>
                </button>
                <mat-menu #menuProfile="matMenu" overlapTrigger="false">
                    <button mat-menu-item routerLink="profile">
                        <mat-icon>setting</mat-icon>
                        <span i18n="@@preferences">Preferences</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span i18n="@@logout">Logout</span>
                    </button>
                </mat-menu>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <!--    <mat-sidenav-container fxFlexFill>-->
    <!--        <mat-sidenav #sidenav>-->
    <!--            <mat-nav-list>-->
    <!--                &lt;!&ndash;                <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>&ndash;&gt;-->
    <!--                <a routerLink="tracking" mat-list-item>-->
    <!--                    <mat-icon>geozone</mat-icon>-->
    <!--                    <span i18n="@@tracking">Tracking</span></a>-->
    <!--                <a [routerLink]="['report']" mat-list-item>-->
    <!--                    <mat-icon>report</mat-icon>-->
    <!--                    <span i18n="@@reports">Reports</span></a>-->
    <!--                <a routerLink="admin/account" mat-list-item>-->
    <!--                    <mat-icon>setting</mat-icon>-->
    <!--                    <span i18n="@@administration">Administration</span></a>-->
    <!--            </mat-nav-list>-->
    <!--        </mat-sidenav>-->
    <!--        <mat-sidenav-content fxFlexFill>-->
    <!--            -->
    <!--        </mat-sidenav-content>-->
    <!--    </mat-sidenav-container>-->
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
