<div class="main">
    <mat-toolbar color="primary" class="header mat-elevation-z3">
        <button mat-icon-button>
            <mat-icon>{{(isHandset$ | async) ? 'menu' : 'home'}}</mat-icon>
        </button>
        <button mat-button routerLink="tracking">
            <mat-icon>geozone</mat-icon>
            <span *ngIf="!(isHandset$ | async)" i18n="@@tracking">Tracking</span>
        </button>

        <button mat-button [routerLink]="['report']">
        <mat-icon>report</mat-icon>
        <span *ngIf="!(isHandset$ | async)" i18n="@@reports">Reports</span>
        </button>

        <button mat-button routerLink="admin/account">
            <mat-icon>setting</mat-icon>
            <span  *ngIf="!(isHandset$ | async)" i18n="@@administration">Administration</span>
        </button>

        <span class="fill-remain-space"></span>

        <button mat-button [matMenuTriggerFor]="menuProfile">
            <span>{{accountName}}</span>
            <mat-icon>profile</mat-icon>
        </button>
        <mat-menu #menuProfile="matMenu" overlapTrigger="false">
            <button mat-menu-item routerLink="profile">
                <mat-icon>setting</mat-icon>
                <span i18n="@@preferences">Preferences</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span i18n="@@logout">Logout</span>
            </button>
        </mat-menu>

    </mat-toolbar>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
