@mixin style-login($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .l-form {
    min-width: 300px;
    padding: 16px;

    //.greetingLabel {
    //  background-color: mat-color($primary);
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  margin: -16px -16px 16px;
    //  line-height: 60px;
    //  height: 60px;
    //  font-size: 30px;
    //  font-weight: 600;
    //
    //  color: white;
    //}

    mat-icon {
      color: gray;
    }

    .l-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 16px;
    }
    .action {
      margin-top: 16px;
      float: right;
    }
    .l-ac1 {
      width: 100%;
      height: 60px;
    }
    .lang-switch {
      width: 100%;
      height: 25px;
      img {
        height: 24px;
        margin-right: 8px;
        border: 1px solid white;
        &:hover {
          background: lightgray;
          border: 1px solid lightblue;
          opacity: 0.8;
        }
      }
    }

  }
  .vd5-banner {
    position: fixed;
    bottom: 0;
    background-color: #313131;
    width: 100%;
  }

  .explore-more {
    padding-top: 32px;
  }
}
