<div class="full-height flex-center">
    <form class="l-form mat-elevation-z2">
        <span class="greetingLabel" i18n="@@greetingLabel">Tracking Made Simple</span>
        <mat-form-field class="full-width">
            <input matInput i18n-placeholder="@@yourUsername" placeholder="Your Usermame" [(ngModel)]="model.username" name="username">
            <mat-icon matSuffix>profile</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="password" i18n-placeholder="@@yourPassword" placeholder="Your Password" [(ngModel)]="model.password" name="password" autocomplete="on">
            <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>

        <div class="l-button">
            <a mat-raised-button color="primary" (click)="login()" i18n="@@login">Login</a>
        </div>
        <mat-divider></mat-divider>
        <div class="l-ac1">

            <div class="action">
                <a *showIfDemo mat-button [routerLink]="['/demo']" i18n="@@demo">Demo</a>
                <a mat-button [routerLink]="['/register']" i18n="@@register">Register</a>
                <a mat-button [routerLink]="['/forgot-password']" i18n="@@forgotPassword">Forgot Password ?</a>
            </div>
        </div>
        <div class="lang-switch">
            <a href="/en/login">
                <img src="https://res.cloudinary.com/duvu/image/upload/v1582397337/flags/en_qjk1ts.svg"/>
            </a>
            <a href="/vi/login">
                <img src="https://res.cloudinary.com/duvu/image/upload/v1582397336/flags/vn_pb7ejk.svg"/>
            </a>
            <a href="/pl/login">
                <img src="https://res.cloudinary.com/duvu/image/upload/v1582397301/flags/pl_jc3s20.svg"/>
            </a>
            <a href="/pt/login">
                <img src="https://res.cloudinary.com/duvu/image/upload/v1582466608/flags/pt_BR.svg"/>
            </a>
        </div>
    </form>
</div>
