<div class="page-register">
    <div class="page-register-center">
        <mat-card>
            <div fxLayout="column">
                <mat-form-field>
                    <input type="text" matInput i18n-placeholder placeholder="Account Id" required>
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="16px">
                    <mat-form-field class="full-width">
                        <input type="text" matInput i18n-placeholder placeholder="Password" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input type="text" matInput i18n-placeholder placeholder="Re Password" required>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="16px">
                    <mat-form-field class="full-width">
                        <input type="text" matInput i18n-placeholder placeholder="First Name">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input type="text" matInput i18n-placeholder placeholder="Last Name">
                    </mat-form-field>
                </div>


                <mat-form-field>
                    <input type="text" matInput i18n-placeholder placeholder="Phone Number">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput i18n-placeholder placeholder="Email Address" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput i18n-placeholder placeholder="Address">
                </mat-form-field>

            </div>

            <mat-card-actions align="end">
                <button mat-flat-button color="primary">Register</button>
                <button mat-button color="primary" routerLink="/login">Back to login</button>
            </mat-card-actions>


        </mat-card>
    </div>
</div>