<mat-toolbar>
    <button mat-icon-button arial-label="Back to device list" [routerLink]="['/main/admin/device']"><mat-icon>back</mat-icon></button>
    <span class="fill-remain-space"></span>
    <button *ngIf="!isEditing" mat-flat-button color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
    </button>
    <button *ngIf="isEditing" mat-flat-button color="primary" (click)="save()" class="margin-righ-16">
        <mat-icon>c-save</mat-icon>
        <span>Save</span>
    </button>
    <button *ngIf="isEditing" mat-flat-button color="warn" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</mat-toolbar>
