<mat-toolbar>
    <button mat-icon-button arial-label="Back to account list" [routerLink]="['/main/admin/account']"><mat-icon>back</mat-icon></button>
    <span class="fill-remain-space"></span>
    <button mat-flat-button color="primary" (click)="save()">
        <mat-icon>c-save</mat-icon>
        <span i18n="@@save">Save</span>
    </button>
</mat-toolbar>

<div class="center">
    <image-upload width="200" height="200"></image-upload>
</div>
<div fxLayout="row" fxLayoutGap="16px" class="padding-16">
    <div fxFlex="67">
        <div fxLayout="column">
            <mat-form-field class="full-width">
                <input matInput i18n-placeholder="=@@accountId" placeholder="Account ID" name="acc-account-id" [(ngModel)]="account.accountId" required>
            </mat-form-field>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input type="password" matInput i18n-placeholder="@@password" placeholder="Password" name="acc-password" [(ngModel)]="password">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input type="password" matInput i18n-placeholder="@@rePassword" placeholder="Re-type Password" name="acc-re-password" [(ngModel)]="rePassword">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder="@@firstName" placeholder="First Name" name="acc-first-name" [(ngModel)]="account.firstName">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder="@@lastName" placeholder="Last Name" name="acc-last-name" [(ngModel)]="account.lastName">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <mat-select matInput i18n-placeholder="@@roles" placeholder="Roles" [(ngModel)]="account.privilege">
                            <mat-option *ngFor="let pri of privilegeList" [value]="pri.id">{{pri.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input type="text" i18n-placeholder="@@status" placeholder="Status" aria-label="Status" matInput [formControl]="statusControl" [matAutocomplete]="autoStatus">
                        <mat-autocomplete #autoStatus="matAutocomplete">
                            <mat-option *ngFor="let status of filteredStatus | async" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder="@@phoneNumber" placeholder="Phone Number" name="acc-phone-number" [(ngModel)]="account.phoneNumber">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="full-width">
                        <input matInput i18n-placeholder="@@emailAddress" placeholder="Email Address" name="acc-email-address" [(ngModel)]="account.emailAddress" required>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="full-width">
                <input matInput i18n-placeholder="@@addressLine1" placeholder="Address Line1" name="acc-address-line1" [(ngModel)]="account.addressLine1">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput i18n-placeholder="@@addressLine2" placeholder="Address Line2" name="acc-address-line2" [(ngModel)]="account.addressLine2">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput i18n-placeholder="@@notes" placeholder="Notes" name="acc-notes" [(ngModel)]="account.notes">
            </mat-form-field>

        </div>
    </div>
    <div fxFlex="33">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@smtpServerDetails">SMTP Server Details</mat-panel-title>
                    <mat-panel-description i18n="@@smtpServer">SMTP SERVER</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label i18n="@@host">Host</mat-label>
                    <input matInput i18n-placeholder="@@smtpHost" placeholder="SMTP Host">
                </mat-form-field>
            </mat-expansion-panel>
            <!--            -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@httpServerDetails">Http</mat-panel-title>
                    <mat-panel-description i18n="@@smtpServer">HTTP SERVER</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label i18n="@@host">Host</mat-label>
                    <input matInput i18n-placeholder="@@smtpHost" placeholder="SMTP Host">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="center">
    <button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        <span i18n="@@save">Save</span>
    </button>
</div>


