<div class="full-height flex-center">
    <form class="forgot-password-form mat-elevation-z2">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label i18n="@@enterYourAccountId">Enter your account Id</mat-label>
            <input type="text" matInput i18n-placeholder="@@enterYourAccountId" placeholder="Enter your account Id">
        </mat-form-field>
        <div class="forgot-password-actions">
            <button mat-flat-button i18n="@@submit">Submit</button>
            <button mat-button color="primary" routerLink="/account/c/login" i18n="@@backToLogin">Back to login</button>
        </div>
    </form>
</div>
