<div class="page-profile">
    <form class="mat-elevation-z3 form-profile" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder="@@accountId" placeholder="Account ID" [disabled]="!isEditting" [value]="accountId">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder="@@accountName" placeholder="Account Name" [disabled]="!isEditting" [value]="accountName">
                </mat-form-field>
            </div>
        </div>

        <mat-form-field>
            <input matInput i18n-placeholder="@@firstPageUrl" placeholder="First Page URL" [disabled]="!isEditting" [value]="firstPageUrl">
        </mat-form-field>
        <mat-form-field>
            <input matInput i18n-placeholder="@@redirectUrl" placeholder="Redirect URL" [disabled]="!isEditting" [value]="redirectURL">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder="@@tokenType" placeholder="Token Type" disabled [value]="token_type">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder="@@expiredIn" placeholder="Expired In" disabled [value]="expires_in">
                </mat-form-field>
            </div>
        </div>


        <mat-form-field>
            <input matInput  i18n-placeholder="@@jti" placeholder="JTI" disabled [value]="jti">
        </mat-form-field>
        <mat-form-field>
            <input matInput i18n-placeholder="@@scope" placeholder="Scope" disabled [value]="scope">
        </mat-form-field>
        <mat-form-field>
            <input matInput i18n-placeholder="@@authorities" placeholder="Authorities" disabled [value]="authorities">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder="@@language" placeholder="Language" disabled [value]="">
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-width">
                    <input matInput i18n-placeholder="@@timezone" placeholder="Timezone" disabled [value]="">
                </mat-form-field>
            </div>
        </div>

        <mat-form-field>
            <textarea matInput rows="5" i18n-placeholder="@@accessToken" placeholder="Access Token" disabled [value]="access_token"></textarea>
        </mat-form-field>
    </form>
</div>
