<p>
  mail works!
</p>

<!--<div id="toolbar">-->
    <!--&lt;!&ndash; Add a bold button &ndash;&gt;-->
    <!--<button class="ql-bold">Bold</button>-->
    <!--<button class="ql-italic">Italic</button>-->
    <!--<button class="ql-underline">Underline</button>-->
    <!--<button class="ql-strike">Strike</button>-->
    <!--&lt;!&ndash; Add font size dropdown &ndash;&gt;-->
    <!--<select class="ql-size">-->
        <!--<option value="small"></option>-->
        <!--&lt;!&ndash; Note a missing, thus falsy value, is used to reset to default &ndash;&gt;-->
        <!--<option selected></option>-->
        <!--<option value="large"></option>-->
        <!--<option value="huge"></option>-->
    <!--</select>-->
    <!--&lt;!&ndash; Add subscript and superscript buttons &ndash;&gt;-->
    <!--<button class="ql-script" value="sub"></button>-->
    <!--<button class="ql-script" value="super"></button>-->
    <!--<button style="width: 120px" (click)="customButtonClick()">custom button</button>-->
<!--</div>-->
<quill-editor  [(ngModel)]="editorContent"
               [options]="editorConfig"
               (blur)="onEditorBlured($event)"
               (focus)="onEditorFocused($event)"
               (ready)="onEditorCreated($event)"
               (change)="onContentChanged($event)">
</quill-editor>`
<div class="ql-editor preview" [innerHTML]="editorContent"></div>