@import '~@angular/material/theming';
@import "../app/main/main.module";
@import "../app/pages/login/login.component";
@import "global";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$app-primary: (
    50 : #e2eaf2,
    100 : #b6cbdf,
    200 : #85a9ca,
    300 : #5487b4,
    400 : #306da4,
    500 : #0b5394,
    600 : #0a4c8c,
    700 : #084281,
    800 : #063977,
    900 : #032965,
    A100 : #95b6ff,
    A200 : #6294ff,
    A400 : #2f71ff,
    A700 : #155fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-accent: (
    50 : #edf9e8,
    100 : #d2f0c5,
    200 : #b4e69e,
    300 : #95db77,
    400 : #7fd459,
    500 : #68cc3c,
    600 : #60c736,
    700 : #55c02e,
    800 : #4bb927,
    900 : #3aad1a,
    A100 : #e8ffe3,
    A200 : #bfffb0,
    A400 : #95ff7d,
    A700 : #81ff63,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-warn: (
    50 : #fce7e7,
    100 : #f8c3c3,
    200 : #f39b9b,
    300 : #ee7272,
    400 : #eb5454,
    500 : #e73636,
    600 : #e43030,
    700 : #e02929,
    800 : #dd2222,
    900 : #d71616,
    A100 : #ffffff,
    A200 : #ffd4d4,
    A400 : #ffa1a1,
    A700 : #ff8888,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($app-primary);
$accent:    mat-palette($app-accent);
$warn:    mat-palette($app-warn);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@mixin load-component-style($theme) {
  @include main-module($theme);
  @include map-component($theme);
  @include style-login($theme);
  @include global-style($theme);
}

@include angular-material-theme($my-theme);
@include load-component-style($my-theme)
