<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened="true" class="mat-elevation-z3">
        <mat-nav-list role="list">
            <mat-list-item role="listitem">
                <mat-icon matListIcon>account</mat-icon>
                <a matLine routerLink="_account" i18n>Account</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-icon matListIcon>vehicle</mat-icon>
                <a matLine routerLink="_device" i18n>Manage Devices</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>account</mat-icon>
                <a matLine routerLink="_driver" i18n>Manage Driver</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>geozone</mat-icon>
                <a matLine routerLink="_geozone" i18n>Geozone</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>bell</mat-icon>
                <a matLine routerLink="_alert" i18n>Alert Profile</a>
            </mat-list-item>

            <mat-divider></mat-divider>
            <!--SystemAdmin-->
            <mat-list-item role="listitem" *showIfRole="'vd5lord'">
                <mat-icon matListIcon>unknown</mat-icon>
                <a matLine routerLink="unknown-device" i18n>Unknown Devices</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
