<div matDialogTitle>
    <span i18n="@@selectColumnsToShow">Select columns to show# </span>
    <span class="x-dialog-close-btn">
        <button mat-icon-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50">
            <mat-list>
                <mat-list-item>
                    <span matLine i18n="@@id">ID</span>
                    <mat-checkbox [(ngModel)]="data.id.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@name">Name</span>
                    <mat-checkbox [(ngModel)]="data.name.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@deviceId">Device ID</span>
                    <mat-checkbox [(ngModel)]="data.deviceId.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@vehicleId">Vehicle ID</span>
                    <mat-checkbox [(ngModel)]="data.vehicleId.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@vehicleName">Vehicle Name</span>
                    <mat-checkbox [(ngModel)]="data.vehicleName.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@ipAddress">IP Address</span>
                    <mat-checkbox [(ngModel)]="data.ipAddress.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@port">Port</span>
                    <mat-checkbox [(ngModel)]="data.port.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@protocol">Protocol</span>
                    <mat-checkbox [(ngModel)]="data.protocol.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@status">Status</span>
                    <mat-checkbox [(ngModel)]="data.status.selected"></mat-checkbox>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex="50">
            <mat-list>
                <mat-list-item>
                    <span matLine i18n-@@expiredOn>Expired On</span>
                    <mat-checkbox [(ngModel)]="data.expiredOn.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@serialNumber">Serial Number</span>
                    <mat-checkbox [(ngModel)]="data.serialNumber.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@modelName">Model Name</span>
                    <mat-checkbox [(ngModel)]="data.modelName.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@manufacturerName">Manufacturer Name</span>
                    <mat-checkbox [(ngModel)]="data.manufacturerName.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@firmwareVersion">Firmware Version</span>
                    <mat-checkbox [(ngModel)]="data.firmwareVersion.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@originalContry">Orginal Country</span>
                    <mat-checkbox [(ngModel)]="data.originalCountry.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@createdBy">Created By</span>
                    <mat-checkbox [(ngModel)]="data.createdBy.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@createdOn">Created On</span>
                    <mat-checkbox [(ngModel)]="data.createdOn.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@updatedBy">Updated By</span>
                    <mat-checkbox [(ngModel)]="data.updatedBy.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@updatedOn">Updated On</span>
                    <mat-checkbox [(ngModel)]="data.updatedOn.selected"></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <span matLine i18n="@@actions">Actions</span>
                    <mat-checkbox [(ngModel)]="data.actions.selected"></mat-checkbox>
                </mat-list-item>
            </mat-list>
        </div>
    </div>


</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onSave()" i18n="@@save">Save</button>
    <button mat-button (click)="cancel()" i18n="@@cancel">Cancel</button>
</div>
